:root {
    --black-mode-backgroud: #2d3035;
    --black-mode-text: #8a8d93;
    --black-mode-bordar: #34373d;
    --black-mode-text-primary:#DB6574;
    --black-mode-text-primary-hover:#d44658;
    --black-mode-hover-background:#34373d;
    --normal-mode-backgroud :#fff;
    --normal-mode-text :#2d3035;
}
input {
  outline: none;
}
i, span, strong {
    display: inline-block;
}

button, input[type='submit'] {
    cursor: pointer;
    font-family: inherit;
    font-weight: 300 !important;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-primary {
    color: var(--black-mode-text-primary) !important;
}

.no-padding {
    padding: 0 !important;
  }
  
  .no-padding-top {
    padding-top: 0 !important;
  }
  
  .no-padding-bottom {
    padding-bottom: 0 !important;
  }
  
  .no-margin {
    margin: 0 !important;
  }
  
  .no-margin-top {
    margin-top: 0 !important;
  }
  
  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
  
  .padding-top-sm {
    padding-top: 30px !important;
  }
  
  .padding-bottom-sm {
    padding-bottom: 30px !important;
  }
  
  .margin-top-sm {
    margin-top: 30px !important;
  }
  
  .margin-bottom-sm {
    margin-bottom: 30px !important;
  }


  i.icon {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);

    font-size: 1.2em;
}

.block {
  padding: 20px;
  background: var(--black-mode-backgroud);
  color: var(--black-mode-text);
  margin-bottom: 30px;
}

.btn-primary {
  color: color-yiq(var(--black-mode-text-primary));
  background-color: var(--black-mode-text-primary);
  border-color: var(--black-mode-text-primary);
}
.btn-primary:hover {
  color: color-yiq(var(--black-mode-text-primary-hover));
  background-color: var(--black-mode-text-primary-hover);
  border-color: var(--black-mode-text-primary-hover);
}